body, html, #main {
  width: 98%;
  height: 98%;
  font-family: 'Exo 2', sans-serif;
  font-size: 64px;
  color: #ebebeb;
  background-color: #24242a;
}

#main {
  display: table
}

#content {
  display: table-cell;
  vertical-align: middle;
  text-align: center
}